.productContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.leftProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainImage {
    max-width: 500px;
    margin: 20px;
    border-radius: 20px;
}

.previousButtonMobile, .nextButtonMobile {
    display: none;
}

.thumbnailsContainer {
    display: flex;
    justify-content: center;
}

.thumbnailImage {
    width: 14%;
    margin: 9px;
    border-radius: 5px;
}

.thumbnailImage:hover {
    opacity: 50%;
}

.currentlyDisplayed {
    border: 3px solid orange;
    opacity: 50%;
}

.rightProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 25%;
    max-width: 35%;
}

.productMaufacturer {
    color: #d97222;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    font-weight: 400;
}

.productName {
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 0px;
    font-weight: 700;
}

.productDescription {
    font-size: 18px;
    line-height: 190%;
    color: #74757a;
    margin-bottom: 35px;
}

.leftPriceContainer {
    display: flex;
    align-items: center;
}

.currentPrice {
    font-size: 30px;
    padding-left: 5px;
    font-weight: 600;
}

.discount {
    color: #d97222;
    font-size: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffefe2; 
}

.originalPrice {
    color: #74757a;
    font-size: 15px;
    text-decoration: line-through;
}

.amountContainer {
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.calculateContainer {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 35%;
}

.plusButton, .minusButton, .amountNumber {
    background-color: rgb(232, 232, 232);
    border: none;
    width: 33%;
    place-content: center;
}

.minusButton {
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

.plusButton {
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.plusButton:hover, .minusButton:hover {
    opacity: 50%;
}

.amountNumber {
    font-size: 18px;
    text-align: center;
}

.addCartButton {
    flex-grow: 2;
    flex-shrink: 0;
    margin: 0 5px;
    height: 35px;
    color: white;
    font-size: 20px;
    background-color: #ff7d1b;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(255, 165, 0, 0.2);
    cursor: pointer;
}

.addCartButton:hover {
    opacity: 50%;
}

.cartIconWhite {
    margin-right: 20px;
}

.lightBoxOn {
    filter: brightness(0.35);
    background-color: gray;
}

.lightBoxContainer {
    z-index: 2;
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
}

.lightBoxMainImage {
    width: 550px;
    border-radius: 25px;
}

.lightBoxThumbnailImage {
    width: 60px;
    border-radius: 5px;
    margin: 0 10px;
}

.lightBoxThumbnailImage:hover {
    opacity: 50%;
}

.closeButton {
    position: relative;
    left: 560px;
    bottom: 560px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.nextButton, .previousButton {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    bottom: 280px;
    cursor: pointer;
}

.nextButton {
    right: 45px;
}

.previousButton {
    right: 565px;
}

.controlIcon {
    filter: none;
    transition: filter 0.3s ease;
}

.previousButtonMobile:hover .controlIcon,
.nextButtonMobile:hover .controlIcon {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(2000%) hue-rotate(-30deg) brightness(100%) contrast(90%);
}

.previousButton:hover .controlIcon,
.nextButton:hover .controlIcon {
    filter: brightness(0) saturate(100%) invert(50%) sepia(100%) saturate(2000%) hue-rotate(-30deg) brightness(100%) contrast(90%);
}

.closeButton img {
    filter: none;
    transition: filter 0.3s ease;
}

.closeButton:hover img {
    filter: brightness(0) saturate(100%) invert(1) sepia(100%) saturate(2000%) hue-rotate(-30deg) brightness(90%) contrast(95%);
}

@media screen and (max-width: 768px) {
    .lightBoxContainer {
        display: none;
    }

    .lightBoxOn {
        filter: brightness(1);
        background-color: white;
    }

    .thumbnailsContainer {
        display: none;
    }

    .leftProductContainer {
        width: 100%;
    }

    .imageContainer {
        width: 100%;
        display: inline;
    }

    .mainImage {
        max-width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .previousButtonMobile, .nextButtonMobile {
        display: inline;
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 15px;
        padding: 5px;
        position: absolute;
        top: 45%;
        cursor: pointer;
    }

    .previousButtonMobile {
        left: 3%;
    }

    .nextButtonMobile {
        right: 3%;
    }

    .rightProductContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        padding: 15px 25px;
    }

    .priceContainer {
        display: flex;
        justify-content: space-between;
    }

    .leftPriceContainer {
        display: inline;
    }
    
    .originalPrice {
        display: inline;
    }

    .calculateContainer {
        display: flex;
        width: 100%;
    }

    .amountContainer {
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    .addCartButton {
        width: 99%;
        margin-top: 5px;
    }
}

.statusMessage {
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
}