.productContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.leftProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainImage {
    max-width: 500px;
    margin: 20px;
    border-radius: 20px;
}

.previousButtonMobile, .nextButtonMobile {
    display: none;
}

.thumbnailsContainer {
    display: flex;
    justify-content: center;
}

.thumbnailImage {
    width: 14%;
    margin: 9px;
    border-radius: 5px;
}

.currentlyDisplayed {
    border: 3px solid orange;
    opacity: 50%;
}

.rightProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 25%;
    max-width: 35%;
}

.productMaufacturer {
    color: orange;
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.productName {
    font-size: 33px;
    margin-top: 10px;
    padding-top: 0px;
}

.productDescription {
    font-size: 18px;
    line-height: 190%;
}

.leftPriceContainer {
    display: flex;
    align-items: center;
}

.currentPrice {
    font-size: 30px;
    padding-left: 5px;
    font-weight: bold;
}

.discount {
    color: orange;
    font-size: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 238, 206); 
}

.originalPrice {
    color: gray;
    font-size: 15px;
    text-decoration: line-through;
}

.amountContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.calculateContainer {
    display: flex;
}

.plusButton, .minusButton, .amountNumber {
    background-color: rgb(232, 232, 232);
}

.minusButton {
    padding: 16px 22px;
    border-radius: 5px 0 0 5px;
}

.plusButton {
    padding: 12px 22px;
    border-radius: 0 5px 5px 0;
}

.amountNumber {
    font-size: 18px;
    padding: 7px 15px;
}

.addCartButton {
    flex-grow: 2;
    flex-shrink: 0;
    margin: 0 5px;
    height: 35px;
    color: white;
    font-size: 20px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(255, 165, 0, 0.2);
}

.cartIconWhite {
    margin-right: 20px;
}

.lightBoxOn {
    filter: brightness(0.35);
    background-color: gray;
}

.lightBoxContainer {
    z-index: 2;
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
}

.lightBoxMainImage {
    width: 550px;
    border-radius: 25px;
}

.lightBoxThumbnailImage {
    width: 60px;
    border-radius: 5px;
    margin: 0 10px;
}

.closeButton {
    position: relative;
    left: 560px;
    bottom: 560px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.nextButton, .previousButton {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    bottom: 280px;
    cursor: pointer;
}

.nextButton {
    right: 45px;
}

.previousButton {
    right: 565px;
}

@media screen and (max-width: 768px) {
    .lightBoxContainer {
        display: none;
    }

    .lightBoxOn {
        filter: brightness(1);
        background-color: white;
    }

    .thumbnailsContainer {
        display: none;
    }

    .leftProductContainer {
        width: 100%;
    }

    .imageContainer {
        width: 100%;
        display: inline;
    }

    .mainImage {
        max-width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .previousButtonMobile, .nextButtonMobile {
        display: inline;
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 15px;
        padding: 5px;
        position: absolute;
        top: 45%;
        cursor: pointer;
    }

    .previousButtonMobile {
        left: 3%;
    }

    .nextButtonMobile {
        right: 3%;
    }

    .rightProductContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        padding: 15px 25px;
    }

    .priceContainer {
        display: flex;
        justify-content: space-between;
    }

    .leftPriceContainer {
        display: inline;
    }
    
    .originalPrice {
        display: inline;
    }

    .calculateContainer {
        display: flex;
        width: 100%;
    }

    .amountContainer {
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    .addCartButton {
        width: 100%;
    }

    .plusButton, .amountNumber, .minusButton {
        padding: 12%;
    }
}

