.navContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.leftContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItemsContainer {
    display: flex;
    justify-content: center;
}

.navItem {
    margin: 0 10px;
    text-decoration: none;
    color: gray;
}

.rightContainer {
    display: flex;
    align-items: center;
}

.cartIcon {
    height: 20px;
    margin: 15px;
}

.userImg {
    height: 40px;
    margin: 15px;
}