.navContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.leftContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItemsContainer {
    display: flex;
    justify-content: center;
}

.navItem {
    margin: 0 10px;
    text-decoration: none;
    color: gray;
    padding: 26px 0px;
}

.navItem:hover {
    color: black;
    border-bottom: 3px solid orange;
}

.rightContainer {
    display: flex;
    align-items: center;
}

.cartIcon {
    height: 20px;
    margin: 15px;
}

.userImg {
    height: 40px;
    margin: 15px;
    border-radius: 20px;
    border: 2px solid orange;
}

.menuIcon {
    display: none;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.mobileMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    min-height: 1200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.mobileMenu .navItem {
    padding: 15px;
    margin: 0;
    text-align: center;
    color: black;
}

.closeMobileMenuButton {
    display: none;
}

.cartBadge {
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: orange;
    border-radius: 13px;
    position: absolute;
    right: 90px;
    top: 40px;
    z-index: 2;
    min-width: 17px;
    text-align: center;
}

.smallCartNavContainer {
    position: relative;
}

.smallCartNavContainer .smallCartComponent {
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 100;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 350px;
    display: none;
    transition: all 0.3s ease-in-out;
}

.smallCartNavContainer:hover .smallCartComponent {
    display: block;
}

@media screen and (max-width: 768px) {
    .navContainer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .menuIcon {
        display: block;
        height: 20px;
    }

    .leftContainer {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .navItemsContainer {
        display: none;
    }

    .navItemsContainer.mobileMenu {
        display: flex;
    }

    .closeMobileMenuButton {
        display: inline-block;
        background-color: inherit;
        margin: 15px 0 0 10px;
        border: none;
        cursor: pointer;
    }

    .cartIcon, .userImg {
        margin: 0 10px;
    }

    .cartBadge {
        top: 20px;
        right: 70px;
    }

    .smallCartNavContainer .smallCartComponent {
        position: fixed;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 500px;
        height: auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }
}
